<link href="css/login/login.css" rel="stylesheet">

<form name="formChangePassword" class="form-signin">
  <h2 class="form-signin-heading">Changement de mot de passe</h2>
  <input type="password" ng-model="oldPassword" class="form-control"
         placeholder="Ancien mot de passe" required autofocus>
  <input type="password" ng-model="newPassword" class="form-control"
         placeholder="Nouveau mot de passe" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="changePassword()" ng-disabled="formLogin.$invalid">Changer le mot de passe</button>
</form>
